<div id="editOwner">
<h2>Edit your profile</h2>

{{#with currentOwner}}
<form action="/owner/profile" method="POST" >
{{!-- enctype="multipart/form-data" --}}

<div>
    <div>
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" value={{username}}>
    </div>

    <div>
        <label for="email">Email: </label>
        <input type="email" name="email" id="email" value={{email}}>
    </div>

    <div>
        <label for="dogBreed">Dog breed: </label>
        <input type="text" name="dogBreed" id="dogBreed" value={{dogBreed}}>
    </div>

    <div>
        <label for="dogName">Dog name: </label>
        <input type="text" name="dogName" id="dogName" value="{{dogName}}">
    </div>

    <div>
        <label for="dogAge">Your dog's age: </label>
        <input type="text" name="dogAge" id="dogAge" value="{{dogAge}}">
    </div>

    <div>
        <label for="dogSize">Dog size: </label>
        <select name="dogSize" id="dogSize" value="dogSize">
          <option value="small">Small doggo</option>
          <option value="medium">Medium doggo</option>
          <option value="large">Big doggo</option>
        </select>
    </div>
  
    <div>
        <label for="dogImg">Photo of the dog: </label>
        <input type="file" name="photo">
    </div>
    <div>
        <label for="dogsSpecialNeeds">Describe your doggo's special needs: </label>
        <input type="text" name="dogsSpecialNeeds" id="dogsSpecialNeeds" placeholder="e.g. any kind of training, character, favourite activities" value="{{dogsSpecialNeeds}}">
    </div>

    <div>
        <label for="city">City: </label>
        <input type="text" name="city" id="city" value="{{city}}">
    </div>

    <div>
        <label for="district">District: </label>
        <input type="text" name="district" id="district" value="{{district}}">
    </div>

</div>

    <button class="btn" type="submit">Update profile</button>
</form>
{{/with}}

    <nav class="navbar">
      <a href="/owner/find-walkers">Search</a>
      <a href="">Walks</a>
      <a href="/owner/profile">My Profile</a>
    </nav>
</div>
