<head>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />   
</head>

<div id='findWalker' class="screenSetup centerItems">

  <div id="findWalkerheader">
   <h2>Dog walkers in your area</h2>
  </div>

  <form action="/owner/find-walkers" method="POST">

      <label for="city"></label>
      <input type="text" name="city" id="city" value="{{city}}" placeholder="city">



      <label for="district"></label>
      <input type="text" name="district" id="district" value="{{district}}" placeholder="district">

    <button class="btn" type="submit">Find walkers</button>
  </form>

  <div id="map" style="width: 100vw; height: 30vh;"></div>

  {{!-- Show all the available dog walkers --}}
  {{#each walkerList}}
  <div class="foundWalker">
    <div class="cropToCircleMini">
      <img class="profilePicMini" src="{{walkerImg}}" alt="">
    </div>
    
    <a href="/owner/walker/{{id}}">{{username}}</a><br>
    <p>{{price}}</p>
  </div>
  {{/each}}

  <nav>
      <a href="/owner/find-walkers">Search</a>
      <a href="">Walks</a>
      <a href="/owner/profile">My Profile</a>
  </nav>
</div>

<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiaXJvbm9sYSIsImEiOiJja28xYTN2bzMwNmtsMndzNTg5dHQ1eTd4In0.HUiwiUixDnMOkMwxFVh9TQ';
    const map = new mapboxgl.Map({
    container: 'map', // container ID
    style: 'mapbox://styles/mapbox/streets-v11', // style URL
    center: [13.4, 52.52], // starting position [lng, lat]
    zoom: 9 // starting zoom
});
// Fetch walkers from API
async function getWalkers() {
  const res = await fetch('/views/owner/find-walkers');
  const data = await res.json();

  const walkers = data.data.map(walker => {
    return {
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [
          store.location.coordinates[0],
          store.location.coordinates[1]
        ]
      },
    };
  });

  loadMap(walkers);
}

// Load map with walkers
function loadMap(walkers) {
  map.on('load', function() {
    map.addLayer({
      id: 'points',
      type: 'symbol',
      source: {
        type: 'geojson',
        data: {
          type: 'FeatureCollection',
          features: walkers
        }
      },
      layout: {
        'icon-image': '{icon}-15',
        'icon-size': 1.5,
        'text-field': '{walkerId}',
        'text-font': ['Open Sans Semibold', 'Arial Unicode MS Bold'],
        'text-offset': [0, 0.9],
        'text-anchor': 'top'
      }
    });
  });
}
</script>