<h2>Edit your walker page</h2>

{{#with currentWalker}}
<form action="/walker/profile" method="POST" >
{{!-- enctype="multipart/form-data" --}}

<div>

    <div>
        <label for="walkerImg">Your profile photo: </label>
        <input type="file" name="photo">
    </div>

    <div>
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" value={{username}}>
    </div>

    <div>
        <label for="email">Email: </label>
        <input type="email" name="email" id="email" value={{email}}>
    </div>

    <div>
        <label for="walkerExperience">Experience: </label>
        <input type="text" name="walkerExperience" id="walkerExperience" value="{{walkerExperience}}">
    </div>

    <div>
        <label for="price">Price: </label>
        <input type="text" name="price" id="price" value="{{price}}">
    </div>

        <div>
        <label for="location">City: </label>
        <input type="text" name="city" id="city" value="{{{location.city}}}">
    </div>

    <div>
        <label for="location">Street: </label>
        <input type="text" name="street" id="street" value="{{{location.street}}}">
    </div>
   
</div>

    <button class="btn" type="submit">Update profile</button>
</form>
{{/with}}