<div id="editWalker" class="setupScreen ">
    <div class="alignLeft">
        <a class="backPadding" href="/walker/profile"> ⇽ Back</a>
    </div>
<h2>Edit your profile</h2>

{{#with currentWalker}}
<form action="/walker/profile" method="POST" >
{{!-- enctype="multipart/form-data" --}}

<div>

        <label for="walkerImg">Your profile photo: </label>
        <input class="smallMargin" type="file" name="photo">

        <label for="username">Username: </label>
        <input class="smallMargin" type="text" name="username" id="username" value={{username}}>


        <label for="email">Email: </label>
        <input type="email" name="email" id="email" value={{email}}>

        <label for="walkerExperience">Experience: </label>
        <input class="smallMargin" type="text" name="walkerExperience" id="walkerExperience" value='{{walkerExperience}}'>



        <label for="price">Price: </label>
        <input type="text" name="price" id="price" value="{{price}}">

        <label for="city">City: </label>
        <input type="text" name="city" id="city" value="{{city}}">
 
        <label for="district">District: </label>
        <input type="text" name="district" id="district" value="{{district}}">

</div>

    <button class="btn" type="submit">Update profile</button>
        <div class="alignLeft">
        <a class="backPadding" href="/walker/profile">Cancel</a>
    </div>
</form>
{{/with}}

<nav class="navbar">
    <a href="/walker/incoming-requests">Walk requests</a>
    <a href="/walker/planned-walks">Planned walks</a>
    <a href="/walker/profile">My Profile</a>
</nav>
</div>