<h2>My incoming walk requests</h2>

{{#each requestDetails}}
    <h3>You received one walking request from {{sentBy}} </h2>

    <p>Date: {{date}}</p>
    <p>Time: {{time}}</p>
    <p>Duration: {{duration}} minutes</p>


    <form action="/walker/accept/{{_id}}" method="POST">
        <input class="accept-btn" type="submit" name="accept" value="Accept">
    </form>

     <form action="/walker/reject/{{_id}}" method="POST">
        <input class="reject-btn" type="submit" name="accept" value="Reject">
    </form>

{{/each}}

<nav>
    <a href="/walker/incoming-requests">Walk requests</a>
    <a href="/walker/planned-walks">Planned walks</a>
    <a href="/walker/profile">My Profile</a>
</nav>
<script src='/js/manageRequests.js'></script>