<div id='walkerDetails' class='screenSetup centerItems'>
    <div class="alignLeft" >
        <a class="backPadding" href="/owner/find-walkers"> ⇽ Back</a>
    </div>
    
    <div class="backgroundShape">
        <img src="/images/bg-rect.svg" alt="background rect">
    </div>

    {{#with currentOwner}}
    <div class='cropToCircle' >
        <img class='profilePic' src="{{dogImg}}" alt="walker profile picture">
    </div>

    <button><a href="/owner/edit">Edit my profile</a></button>

    <h2>{{username}}'s dog</h2>
    <div class="profileBox">
        <div>
            <p><strong>City:</strong> {{city}}</p>
        </div>

        <div>
            <p><strong>District:</strong> {{district}}</p>
        </div>
    </div>

    <div>
        <p class="orangeText">{{price}}</p>
    </div>
    <div class="profileBox">
            <p><strong>Dog name:</strong> {{dogName}}</p>
            <p><strong>Breed:</strong> {{dogBreed}}</p>
            <p><strong>Size:</strong> {{dogSize}}</p>
            <p><strong>Age:</strong> {{dogAge}}</p>
            {{!-- <p><strong>Good to know:</strong> {{dogsSpecialNeeds}}</p> --}}

    </div>

    <div class="bioOwner">
        <h3> Special needs</h3>
        <p>{{dogsSpecialNeeds}}</p>
    </div>

    
    {{/with}}


</div>

