<div id="walks" class="screenSetup centerItems">
    <h2>Planned walks</h2>
    <div class="walksBox">
    {{#each plannedWalkDetails}}
        <div class="horFlexLeft">
            <img class="profilePicMini" src="{{sentBy.imgPath}}" alt="">
            <h3>Walk {{sentBy.username}}'s dog </h2>
        </div>

        <p>on {{date}} at {{time}} for {{duration}} minutes.</p>

        {{!-- <form action="/walker/accept/{{_id}}" method="POST">
            <input class="accept-btn" type="submit" name="accept" value="Accept">
        </form> --}}

        <form action="/walker/reject/{{_id}}" method="POST">
            <input class="reject-btn" type="submit" name="accept" value="Cancel this walk">
        </form>
    </div>

    <nav class="navbar">
        <a href="/walker/incoming-requests">Walk requests</a>
        <a href="/walker/planned-walks">Planned walks</a>
        <a href="/walker/profile">My Profile</a>
    </nav>
</div>        
    {{/each}}
