<h2>My Profile</h2>
{{#with currentUser}}
<div><img src="{{walkerImg}}" alt="walker profile picture"></div>
<div>
    <p>Name: {{username}}</p>
</div>
<div>
    <p>Price: {{price}}</p>
</div>

<div>
    <p>Experience: "{{walkerExperience}}"</p>
</div>
{{/with}}

{{#with currentUser.location}}
<div>
    <p>City: {{city}}</p>
</div>

<div>
    <p>Street: {{street}}</p>
</div>
{{/with}}



<a href="/walker/edit">Edit</a>




