<div id='walkerDetails' class='screenSetup centerItems'>
    {{!-- <div class="alignLeft">
        <a class="backPadding" href="/owner/find-walkers"> ⇽ Back</a>
    </div> --}}
    
    <div class="backgroundShape">
        <img src="/images/bg-rect.svg" alt="background rect">
    </div>

    {{#with currentUser}}
    <div class='cropToCircle' >
        <img class='profilePic' src="{{imgPath}}" alt="walker profile picture">
    </div>
    <br>
    <h2>{{username}}</h2>

    <div>
        <p class="orangeText">{{price}}</p>
    </div>
    <div class="profileBox">
        <div>
            <p><strong>City:</strong> {{city}}</p>
        </div>

        <div>
            <p><strong>District:</strong> {{district}}</p>
        </div>
    </div>

    <div class="bio">
        <h3>Experience</h3>
        <p>{{walkerExperience}}</p>
    </div>
    {{/with}}
    <button><a href="/walker/edit">Edit</a></button>

    
    

    <nav class="navbar">
        <a href="/walker/incoming-requests">Walk requests</a>
        <a href="/walker/planned-walks">Planned walks</a>
        <a href="/walker/profile">My Profile</a>
    </nav>
</div>

